<style>
body {
	width:60em;
	border-radius:1px solid #000;
}

.pagecontent {
	width:60%;
	font-family: verdana,arial,sans-serif;
	font-size:1em;
	margin:0 auto;
	padding:15px;
	border:1px solid #dcdcdc;
	background-color:#eee;
	color: #303030;
}	

h1  {
	font-size:2.0em;
	text-align:center;
	margin:.2em;
}

h2  {
	font-size:1.5em;
	text-align:left;
}

h3  {
	font-size:1.25em;
	text-align:left;
	font-weight:normal;
	margin-top:1.5em;
}
-------=====------
p  {
	font-size:.80em;
	font-weight
}

a {
	font-size:1em;
	text-decoration:underline;
	color:#0000CD;
}

a:hover {
	color:#ff0000;
}

a:visited {
	color:#c71585;
}	

.mypic	{
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width: 100%;
	}
	 

</style>