<style>
body {
	width:60em;
	border-radius:1px solid #000;
}

.pagecontent {
	width:80%;
	font-family: verdana,arial,sans-serif;
	font-size:1em;
	margin:0 auto;
	margin-top: 20px;
	padding:15px;
	border:1px solid #dcdcdc;
	background-color:#eee;
	color: #303030;
}	

h1  {
	font-size:2.0em;
	text-align:center;
	margin:.2em;
}

h2  {
	font-size:1.5em;
	text-align:left;
}

p  {
	font-size:1em;
	font-weight: normal;
	color:#ff0000;
}

.snakes	{
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width: 100%;
	}
	 

</style>